{% load static %}
<link
      href="{% static 'css/style.css'%}"
      rel="stylesheet"
    />
<div class="row justify-content-center bg-appointment mx-0">
    <div class="col-lg-6 py-5">
      <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7)">
        <h1 class="text-white text-center mb-4">Make Appointment</h1>
        <form  method="POST" id="appointment_form">
            {% csrf_token %}
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control bg-transparent p-4 apt_form"
                  placeholder="Your Name"
                  required="required"
                  id="appointment_name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  name="email"
                  type="email"
                  class="form-control bg-transparent p-4 apt_form"
                  placeholder="Your Email"
                  required="required"
                  id="appointment_email"
                />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="date" id="date" data-target-input="nearest">
                  <input
                    type="text"
                    name="date"
                    class="form-control bg-transparent apt_form p-4 datetimepicker-input"
                    placeholder="Select Date"
                    data-target="#date"
                    data-toggle="datetimepicker"
                    required="required"
                    id="appointment_date"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="time" id="time" data-target-input="nearest">
                  <input
                    type="text"
                    name="time"
                    class="form-control bg-transparent apt_form p-4 datetimepicker-input"
                    placeholder="Select Time"
                    data-target="#time"
                    data-toggle="datetimepicker"
                    required="required"
                    id="appointment_time"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <div class="form-group">
                <select
                  id="services"
                  name="service"
                  class="custom-select apt_form bg-transparent px-4"
                  style="height: 47px"
                  onchange="pricing()"
                  required="required"
                >
                  <option value="">Select A Service</option>
                  <option>Body Massage <span></span></option>
                  <option>Body Massage (Exclusive)</option>
                  <option>Stone Therapy</option>
                  <option>Skin Care</option>
                  <option>Face Masking</option>
                </select>
              </div>
            </div>
            
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <select
                  name="payment_method"
                  class="custom-select apt_form bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                  id="payment_method"
                >
                  <option selected value="">Select A Payment Method</option>
                  <option>CashApp</option>
                  <option>PayPal</option>
                  <option>Bitcoins</option>
                  <option>Zelle</option>
                  <option>Venmo</option>
                  <option>ApplePay</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6" id="price_html">
              <div class="form-group">
                <select
                  id="service_type"
                  name="service_type"
                  class="custom-select apt_form bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                  onchange="pricing()"
                >
                  <option selected value="">Select A service Type</option>

                  <option>In Call(I Host You)</option>
                  <option>OutCall (You Host)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row" id="address" style="display: none">
            <div class="col-sm-12">
              <div class="form-group">
                <input
                id="address"
                  type="text"
                  name="address"
                  class="form-control apt_form bg-transparent p-4"
                  placeholder="Enter Address"
                />
              </div>
              <div class="form-group">
                <input
                id="phone_number"
                  type="text"
                  name="phone_number"
                  class="form-control apt_form bg-transparent p-4"
                  placeholder="Enter Phone Number"
                />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <div class="form-group">
                <select
                  id="how_long"
                  name="how_long"
                  class="custom-select apt_form bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                  onchange="pricing()"
                >
                  <option selected value="">Select How Long</option>
                  <option>Half Hour</option>
                  <option>45 Mins</option>
                  <option>1 Hour</option>
                  <option>3 - 6 Hours</option>
                </select>
              </div>
            </div>
          </div>
          <p id="pricing"></p>
          <input id="price" class="apt_form" type="text" name="price" style="display: none" />
          <button
            class="btn btn-primary btn-block"
            type="submit"
            style="height: 47px"
            id="appointment_btn"
          >
            Make Appointment
          </button>
        </form>
        <div class="mt-3 text-center" id="payment-status" style="display: none;">

            <div class="spinner-border mb-3" style="width: 3rem; height: 3rem;  animation-duration: 2s;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
           
             
            <h6 style="color: #fff;" id="paymentText">
                Waiting for Payment
            </h6>
          
        </div>
        <div class="text-left">
          <span id="order_id" class="order_details"></span> <br>
          <span id="payment_details" class="order_details"></span>

        </div>
        <div class="text-center mt-3" id="paid_btn"   style="display: none;">
          <input
            class="btn btn-primary btn-block"
            type="button"
            style="height: 47px"
          
            value="I have Paid"
          
          >
        
       
   
        </div>
        <div class="text-center mt-3" id="upload_btn" style="display: none;">
          <input style="display:none" type="file" id="my-file" onchange="loadImg(this)">
            <button type="button" 
            onclick="document.getElementById('my-file').click()"
            class="btn btn-primary btn-block"
            id="appointment_btn"
            >
            Upload Receipt
          </button>
        </div>
        <div class="cont2 text-center" id="popImg">
          <img class="image" src="" alt="" style="display: none;">
        </div>
      </div>
      
    </div>
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
const appointment_btn = document.getElementById('appointment_btn');
const appointment_form = document.getElementById('appointment_form');
const apt_form = document.querySelectorAll('.apt_form');
const name = document.getElementById('appointment_name')
const email = document.getElementById('appointment_email')
const date = document.getElementById('appointment_date')
const time = document.getElementById('appointment_time')
const services = document.getElementById('services')
const adrress = document.getElementById('address')
const payment_method = document.getElementById('payment_method')
const service_type= document.getElementById('service_type')
const how_long= document.getElementById('how_long')
const address= document.getElementById('address')
const phone_number= document.getElementById('phone_number')
const price = document.getElementById("price");
const paymentStatus = document.getElementById("payment-status");
const paid_btn = document.getElementById("paid_btn");
const paymentText = document.getElementById("paymentText");
const upload_btn = document.getElementById("upload_btn");
const total = document.getElementById("pricing");
const order_id = document.getElementById("order_id");
const payment_details = document.getElementById("payment_details");


appointment_form.addEventListener('submit', (e)=> {
    e.preventDefault();
    apt_form.forEach((ex)=>{
        ex.disabled = true
    })
    console.log(name.value);
    $.ajax({
      method:'POST',
      url:'/appointments',
      data:{"name":name.value,
            "email":email.value,
            "date":date.value,
            "time":time.value,
            "service":services.value,
            "payment_method":payment_method.value,
            "service_type":service_type.value,
          "how_long":how_long.value,
          "address":address.value,
          "phone_number":phone_number.value,
          "total":total.textContent,
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

        },
      success: (msg)=>{
        console.log(msg);
        order_id.textContent = `Order Id: ${msg.order_id}`
        payment_details.textContent = `${payment_method.value}: ${msg.payment_details}`
       
        paymentStatus.style.display = 'block';
        appointment_btn.style.display = 'none';
        paid_btn.style.display = 'block';
    
      } 
    })

})

paid_btn.addEventListener("click",()=>{
  paid_btn.style.display = "none"
  alert("Please upload payment receipt for faster processing")
  paymentText.textContent = "Confirming Your Payment"
  upload_btn.style.display = "block"
 
})

service_type.addEventListener("change", (e)=> {
  if (e.target.value === "OutCall (You Host)") {
address.style.display = "block"
  }
   
})


function loadImg(item) {

const main = item.parentElement
const file = main.querySelector("input[type=file]")["files"][0];
const image = document.querySelector(`.image`);
const reader = new FileReader();
let baseString;
reader.onloadend = function () {
  baseString = reader.result;
 
  image.src = baseString;
 
  
  upload_btn.style.display = "none"
  image.style.display = "block";

};
reader.readAsDataURL(file);
$.ajax({
      method:'POST',
      url:'/receipt-upload', 
      data:{
        "order_id":order_id.textContent.split(" ")[2],
        "receipt":image.src,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:()=>{
        console.log('successfully uploaded');
        console.log(image.src);
        // console.log();
      }
// console.log(reader.readAsDataURL(file));
})}
</script>
