{% extends "base.html" %} {% block content %}

<!-- Service Start -->
<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0 justify-content-center text-center">
    <div class="col-lg-6">
      <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">
        Our Service
      </h6>
      <h1>Spa & Beauty Services</h1>
    </div>
  </div>
  <div class="owl-carousel service-carousel">
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/fonmale.webp')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Body Massage</h4>
        <p class="text-white px-3 mb-3">
          Our Massage Therapies are unique , Trust us 😉
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/service-2.jpg')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Stone Therapy</h4>
        <p class="text-white px-3 mb-3">
          Our Signature Massage! Hot Stone Massage is a form of massage therapy
          that follows the same principles of Swedish Massage with the addition
          of heated stones, which helps lead to deep relaxation
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/service-3.jpg')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Facial Therapy</h4>
        <p class="text-white px-3 mb-3">
          So many of us carry too much stress throughout our daily lives. It can
          permeate into your muscles and weigh you down, affecting your posture
          and mood. You deserve to be enveloped in a soothing and tranquil
          atmosphere while being pampered
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/service-4.jpg')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Skin Care</h4>
        <p class="text-white px-3 mb-3">
          A Swedish massage is exactly what you need to reset your mind and
          body, so you are ready to take on the day with a renewed spirit. Slip
          into a realm of complete relaxation
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/service-5.jpg')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Stream Bath</h4>
        <p class="text-white px-3 mb-3">
          Improve circulation, ease stress, and achieve a level of relaxation
          you never thought possible
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
    <div class="service-item position-relative">
      <img
        class="img-fluid"
        src="{{url_for('static',filename = 'img/service-6.jpg')}}"
        alt=""
      />
      <div class="service-text text-center">
        <h4 class="text-white font-weight-medium px-3">Face Masking</h4>
        <p class="text-white px-3 mb-3">
          The team at Hand & Stone is ready to provide you with excellent spa
          services along with great results. We’re passionate about skincare,
          and we only use premium products that are safe and highly effective.
        </p>
        <div class="w-100 bg-white text-center p-4">
          <a class="btn btn-primary" href="{{url_for('appointments')}}"
            >Make Order</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bg-appointment mx-0">
    <div class="col-lg-6 py-5">
      <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7)">
        <h1 class="text-white text-center mb-4">Make Appointment</h1>
        <form action="{{url_for('appointment')}}" method="POST">
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control bg-transparent p-4"
                  placeholder="Your Name"
                  required="required"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  name="email"
                  type="email"
                  class="form-control bg-transparent p-4"
                  placeholder="Your Email"
                  required="required"
                />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="date" id="date" data-target-input="nearest">
                  <input
                    type="text"
                    name="date"
                    class="form-control bg-transparent p-4 datetimepicker-input"
                    placeholder="Select Date"
                    data-target="#date"
                    data-toggle="datetimepicker"
                    required="required"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="time" id="time" data-target-input="nearest">
                  <input
                    type="text"
                    name="time"
                    class="form-control bg-transparent p-4 datetimepicker-input"
                    placeholder="Select Time"
                    data-target="#time"
                    data-toggle="datetimepicker"
                    required="required"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <select
                  id="services"
                  name="service"
                  class="custom-select bg-transparent px-4"
                  style="height: 47px"
                  onchange="pricing()"
                  required="required"
                >
                  <option value="">Select A Service</option>
                  <option>Body Massage <span></span></option>
                  <option>Body Massage (Exclusive)</option>
                  <option>Stone Therapy</option>
                  <option>Skin Care</option>
                  <option>Face Masking</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select
                  name="model"
                  class="custom-select bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                >
                  <option selected value="">Select A Model</option>
                  <option>Olivia Mia</option>
                  <option>Ruby Faty</option>
                  <option>Elizabeth Ross</option>
                  <option>Kelly Walke</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <select
                  name="payment"
                  class="custom-select bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                >
                  <option selected value="">Select A Payment Method</option>
                  <option>CashApp</option>
                  <option>PayPal</option>
                  <option>Bitcoins</option>
                  <option>Zelle</option>
                  <option>Venmo</option>
                  <option>ApplePay</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6" id="price_html">
              <div class="form-group">
                <select
                  id="service_type"
                  name="service_type"
                  class="custom-select bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                  onchange="pricing()"
                >
                  <option selected value="">Select A service Type</option>

                  <option>In Call(We Host You)</option>
                  <option>OutCall (A model comes)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row" id="address" style="display: none">
            <div class="col-sm-12">
              <div class="form-group">
                <input
                  type="text"
                  name="address"
                  class="form-control bg-transparent p-4"
                  placeholder="Enter Address"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="phone_number"
                  class="form-control bg-transparent p-4"
                  placeholder="Enter Phone Number"
                />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <div class="form-group">
                <select
                  id="how_long"
                  name="how_long"
                  class="custom-select bg-transparent px-4"
                  style="height: 47px"
                  required="required"
                  onchange="pricing()"
                >
                  <option selected value="">Select How Long</option>
                  <option>Half Hour</option>
                  <option>45 Mins</option>
                  <option>1 Hour</option>
                  <option>3 - 6 Hours</option>
                </select>
              </div>
            </div>
          </div>
          <p id="pricing"></p>
          <input id="price" type="text" name="price" style="display: none" />
          <button
            class="btn btn-primary btn-block"
            type="submit"
            style="height: 47px"
          >
            Make Appointment
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

{% endblock %}
