{% extends "base.html" %} {% block content %}
<!-- Team Start -->
<div class="container-fluid py-5">
  <div class="container pt-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h6
          class="d-inline-block bg-light text-primary text-uppercase py-1 px-2"
        >
          Massage Specialist
        </h6>
        <h1 class="mb-5">Spa & Beauty Specialist</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team position-relative overflow-hidden mb-5">
          <img
            class="img-fluid"
            src="{{url_for('static',filename = 'img/olivia_mia.png')}}"
            alt=""
          />

          <div class="position-relative text-center">
            <div class="team-text bg-primary text-white">
              <h5 class="text-white text-uppercase">Olivia Mia</h5>
              <p class="m-0">Massage Specialist</p>
            </div>
            <div class="team-social bg-dark text-center">
              <a
                href="/book-appointment-model/olivia_mia"
                class="btn btn-primary mt-2"
                >Book Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team position-relative overflow-hidden mb-5">
          <img
            class="img-fluid"
            src="{{url_for('static',filename = 'img/ruby_faty.png')}}"
            alt=""
          />

          <div class="position-relative text-center">
            <div class="team-text bg-primary text-white">
              <h5 class="text-white text-uppercase">RUBBY FATY</h5>
              <p class="m-0">Massage Specialist</p>
            </div>
            <div class="team-social bg-dark text-center">
              <a
                href="/book-appointment-model/ruby_faty"
                class="btn btn-primary mt-2"
                >Book Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team position-relative overflow-hidden mb-5">
          <img
            class="img-fluid"
            src="{{url_for('static',filename = 'img/team-3.jpg')}}"
            alt=""
          />
          <div class="position-relative text-center">
            <div class="team-text bg-primary text-white">
              <h5 class="text-white text-uppercase">Elizabeth Ross</h5>
              <p class="m-0">Spa & Beauty Expert</p>
            </div>
            <div class="team-social bg-dark text-center">
              <a
                href="/book-appointment-model/elizabeth_ross"
                class="btn btn-primary mt-2"
                >Book Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team position-relative overflow-hidden mb-5">
          <img
            class="img-fluid"
            src="{{url_for('static',filename = 'img/team-4.jpg')}}"
            alt=""
          />
          <div class="position-relative text-center">
            <div class="team-text bg-primary text-white">
              <h5 class="text-white text-uppercase">Kelly Walke</h5>
              <p class="m-0">Spa & Beauty Expert</p>
            </div>
            <div class="team-social bg-dark text-center">
              <a
                href="/book-appointment-model/kelly_walke"
                class="btn btn-primary mt-2"
                >Book Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
{% endblock %}
