{% extends "base.html" %} {% block content %}
{% load static %}
<!-- Testimonial Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <img
          class="img-fluid w-100"
          src="{% static 'img/fonmale.webp' %}"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <h6
          class="d-inline-block text-primary text-uppercase bg-light py-1 px-2"
        >
          Testimonial
        </h6>
        <h1 class="mb-4">What Our Clients Say!</h1>
        <div class="owl-carousel testimonial-carousel">
          <div class="position-relative">
            <i
              class="fa fa-3x fa-quote-right text-primary position-absolute"
              style="top: -6px; right: 0"
            ></i>
            <div class="d-flex align-items-center mb-3">
              <div class="ml-3">
                <h6 class="text-uppercase">Thomas Wellington</h6>
                <span>Athlete</span>
              </div>
            </div>
            <p class="m-0">
              Rubby very professional, courteous and knowledgeable with
              varieties of Skill Sets. One of the best I’ve encountered. Will be
              back for his skill set.
            </p>
          </div>
          <div class="position-relative">
            <i
              class="fa fa-3x fa-quote-right text-primary position-absolute"
              style="top: -6px; right: 0"
            ></i>
            <div class="d-flex align-items-center mb-3">
              <div class="ml-3">
                <h6 class="text-uppercase">David Quackenbush</h6>
                <span>Retired</span>
              </div>
            </div>
            <p class="m-0">
              I am always incredibly satisfied with my specific massage
              therapist Olivia. She checks in throughout, making sure everything
              is good.
            </p>
          </div>
          <div class="position-relative">
            <i
              class="fa fa-3x fa-quote-right text-primary position-absolute"
              style="top: -6px; right: 0"
            ></i>
            <div class="d-flex align-items-center mb-3">
              <div class="ml-3">
                <h6 class="text-uppercase">Joe Biggs</h6>
                <span>Construction Supervisor</span>
              </div>
            </div>
            <p class="m-0">
              Everything went great and everyone was super friendly
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
{% endblock %}
